<app-action-bar
  title="Login"
  [showBackButton]="true"
  [hasMenu]="false"
></app-action-bar>
<GridLayout rows="*,*,*,*,*,*,*,*" class="form" [formGroup]="form">
  <StackLayout class="input-field"  row="2">
    <TextField
      hint="Numero"
      class="input"
      returnKeyType="next"
      keyboardType="email"
      [autocorrect]="false"
      autocapitalizationType="none"
      formControlName="inputNum"
      #emailEl
    ></TextField>
    <Label
      *ngIf="!emailControlIsValid"
      text="Please enter a valid email."
    ></Label>
  </StackLayout>
  <StackLayout class="input-field" row="3">
    <TextField
      class="input"
      returnKeyType="next"
      [autocorrect]="false"
      autocapitalizationType="none"
      hint="Rue"
      formControlName="inputRue"
      #passwordEl
    ></TextField>
<!--     <Label
      *ngIf="!passwordControlIsValid"
      text="Must be 6+ characters long."
    ></Label> -->
  </StackLayout>
  <StackLayout class="input-field" row="4">
    <TextField
        class="input"
        returnKeyType="next"
        [autocorrect]="false"
        autocapitalizationType="none"
        hint="Code postale"
        formControlName="inputCP"
        #passwordEl
    ></TextField>
    </StackLayout>
    <StackLayout class="input-field" row="5">   
    <TextField
        class="input"
        returnKeyType="done"
        [autocorrect]="false"
        autocapitalizationType="none"
        hint="Ville"
        formControlName="inputVille"
        (returnPress)="onDone()"
        #passwordEl
    >
    </TextField>
   </StackLayout> 

    <Button
    [text]="btnText"
    class="btn btnText"
    (tap)="onSubmit()"
    [isEnabled]="form.valid"
    *ngIf="!isLoading && btnSubmit"
    row="4"
  ></Button>
  <ActivityIndicator class="activity" [busy]="isLoading" row="5"></ActivityIndicator>
</GridLayout>



