$lt-green: #4EB853;
$lt-grey: #EBEBEB;

$primary: #7c015d;
$secondary: #2b0c72;
$disabled: #ccc;

$success: green;
$fail: red;


$lt-orange : #fb2e01;
$lt-bleu : #6fcb9f;
$lt-gris : #666547;
$lt-creme : #ffe28a;

$lt-paille: #fffeb3;
$lt-black: black;


$btn-color: $lt-orange;
$lt-background-color: $lt-bleu;
