@import "../theme/colors";

.label1 {
    text-align: center;
}
.label2 {
    text-align: center;
    color: $btn-color;
}
.label3 {
    text-align: center;
    color: $btn-color;
    margin: 1em;
}
.sideDrawerHead {
    background-color: $lt-background-color;
}
.sideDrawerbody {
    background-color: $lt-creme;
}
.sideDrawerfooter {
    background-color: $lt-paille;
}