
<!--FOMULAIRE D'INSCRIPTION-->

<div class="container">
  
  <div class="row">
      <div class="col-sm-12 text-center">
        <a href="home"><h1>{{ titleCompo }}</h1></a>
        <h3 class="h3">S'inscrire</h3>
        <p class="forgot"><a href="auth">Déjà un compte ? Connectez-vous !</a></p>
      </div>
  </div>
  
  
  
  <div class="row">

    <div class="col-sm-4"></div>
      
    <div class="col-sm-4 text-center"> 
          
      <form class="form1" [formGroup]=form>
          <div class="form-group">
      
            <input class="form-control text-center" type="email" placeholder="email" formControlName="email" #emailEl>
            <input class="form-control text-center" type="password" placeholder="mot de passe" formControlName="password" #passwordEl>
            <input class="form-control text-center" type="password2" placeholder="confirmer le mot de passe" formControlName="password2" #passwordEl2>
            <input class="form-control text-center" type="text" placeholder="nom" formControlName="last_name" #last_nameEl>
            <input class="form-control text-center" type="text" placeholder="prenom" formControlName="first_name" #first_nameEl>

          </div>
      </form>

    <div class="col-sm-4"></div>

  </div>
</div>


  <div class="row">
    <div class="col-sm-12 text-center">
      <p>Je m'inscris comme : </p>
      <app-categories [value]="_cat"></app-categories><br>
      <p><button type="submit" class="btn btn-default" (click)="onSubmit()">valider</button></p><br><br>

    </div>
  </div>
       

      

         
